.eq-input {
  display: flex;

  label {
    margin-right: 5px;
  }

  input {
    border: 1px solid black;
    border-radius: 4px;
    flex: 1 1 auto;
  }

  &.eq-input-error {
    input {
      border: 1px solid red;
    }
  }

  &.eq-input-isPrepare {
    input {
      border: none;
      background-color: white;
    }
  }
}
