.eq-table {
  border-collapse: collapse;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

  .eq-table-page_section {
    page-break-inside: avoid;
  }
}
